venv/
videos/
frames/
frames_*/
.vscode/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

debug.log
last_page
retrieved_videos
current_episode

dist/
build/
*.egg-info/

.DS_STORE

.env
